<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
     xmlns="http://www.springframework.org/schema/beans"  
     xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">   
	<bean id="chinese" class="com.zhongyp.spring.demo.injection.Chinese">
		<property name="gun" ref="handGun"></property>
	</bean>
	<bean id="japan" class="com.zhongyp.spring.demo.injection.Japan">
		<constructor-arg ref="longGun" />
	</bean>
  	<bean id="handGun" class="com.zhongyp.spring.demo.injection.HandGun"></bean>
  	<bean id="longGun" class="com.zhongyp.spring.demo.injection.LongGun"></bean>
</beans>